body {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que ocupe al menos toda la altura */
    margin: 20px 0; /* Añade un poco de margen superior e inferior */
    background-color: #cce7ff; /* Un azul un poco más fuerte */
    font-family: 'Arial', sans-serif;
}

.calculator {
    border: 2px solid #004d99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 320px;
    background-color: #e6f2ff;
}

.display {
    background-color: #00264d;
    color: white;
    font-size: 2.5em;
    padding: 20px;
    text-align: right;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background-color: #ffffff;
    border: 1px solid #b3daff;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d9ecff;
}

button:active {
    background-color: #b3daff;
}

.equals {
    grid-row: span 2;
    background-color: #007bff;
    color: white;
}

.equals:hover {
    background-color: #0056b3;
}

.zero {
    grid-column: span 2;
}

.history-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #e6f2ff;
    border: 2px solid #004d99;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

.history-container h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #00264d;
    text-align: center;
    border-bottom: 1px solid #b3daff;
    padding-bottom: 5px;
}

#history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: #333;
}

#history-list li {
    padding: 5px 0;
    border-bottom: 1px solid #d9ecff;
    text-align: center;
}

#history-list li:last-child {
    border-bottom: none;
}